#DATABASE_ENGINE = 'sql_server.pyodbc'
#
## Define these settings according to your SQL Server setup:
#
#DATABASE_NAME = 'django_pyodbc'
#DATABASE_USER = ''
#DATABASE_PASSWORD = ''
#DATABASE_HOST = 'ss2000' # The dataserver definition from freetds.conf
#DATABASE_PORT = ''

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.sqlite3', # Add 'postgresql_psycopg2', 'postgresql', 'mysql', 'sqlite3' or 'oracle'.
        'NAME': 'dud.db',                      # Or path to database file if using sqlite3.
        'USER': '',                      # Not used with sqlite3.
        'PASSWORD': '',                  # Not used with sqlite3.
        'HOST': '',                      # Set to empty string for localhost. Not used with sqlite3.
        'PORT': '',                      # Set to empty string for default. Not used with sqlite3.
    },
    'aace': {
        'NAME': 'aace2',
        'ENGINE': 'sql_server.pyodbc',
        'HOST': '172.21.168.25',
        'PORT': '1433',
        'USER': 'aace_limited',
        'PASSWORD': 'T3X6k3hvdjFoBCU',
        'OPTIONS': {
            'driver': 'FreeTDS',
            'dsn': 'AACEMSSQL', # ODBC DSN name defined in your odbc.ini
        }
    },
}
